#tree-text-straight{
	position:absolute;
	left:504px;
	top:0px;
	width:410px;
	height:345px;
}

#tree-text-bezier{
	position:absolute;
	left:0px;
	top:0px;
	width:410px;
	height:345px;
}

#tree-straight{
	position:absolute;
	left:1090px;
	top:87px;
	width:235px;
	height:253px;
}

#tree-bezier{
	position:absolute;
	left:1584px;
	top:87px;
	width:235px;
	height:252px;
}

#parkwood-primary-school{
	position:absolute;
	left:1991px;
	top:0px;
	width:410px;
	height:345px;
}


#parkwood-logo-black-white{
	position:absolute;
	left:-967px;
	top:518px;
	width:2401px;
	height:345px;
}

#tree-text-straight-col{
	position:absolute;
	left:504px;
	top:0px;
	width:410px;
	height:345px;
}

#tree-text-bezier-col{
	position:absolute;
	left:0px;
	top:0px;
	width:410px;
	height:345px;
}

#tree-straight-col{
	position:absolute;
	left:1090px;
	top:87px;
	width:235px;
	height:253px;
}

#tree-bezier-col{
	position:absolute;
	left:1584px;
	top:87px;
	width:235px;
	height:252px;
}

#parkwood-primary-school{
	position:absolute;
	left:1991px;
	top:0px;
	width:410px;
	height:345px;
}


#parkwood-primary-school-col{
	position:absolute;
	left:-967px;
	top:44px;
	width:2401px;
	height:345px;
}

