#tree-text-straight{
	position:absolute;
	left:504px;
	top:0px;
	width:410px;
	height:349px;
}

#tree-text-bezier{
	position:absolute;
	left:0px;
	top:0px;
	width:410px;
	height:349px;
}

#tree-straight{
	position:absolute;
	left:1089px;
	top:87px;
	width:235px;
	height:253px;
}

#tree-bezier{
	position:absolute;
	left:1583px;
	top:87px;
	width:235px;
	height:252px;
}

#parkwood-primary-school{
	position:absolute;
	left:1991px;
	top:0px;
	width:410px;
	height:349px;
}


#parkwood-logo-black-white{
	position:absolute;
	left:33px;
	top:44px;
	width:2401px;
	height:349px;
}

#tree-text-straight-col{
	position:absolute;
	left:504px;
	top:0px;
	width:410px;
	height:349px;
}

#tree-text-bezier-col{
	position:absolute;
	left:0px;
	top:0px;
	width:410px;
	height:349px;
}

#tree-straight-col{
	position:absolute;
	left:1089px;
	top:87px;
	width:235px;
	height:253px;
}

#tree-bezier-col{
	position:absolute;
	left:1583px;
	top:87px;
	width:235px;
	height:252px;
}

#parkwood-primary-school-col{
	position:absolute;
	left:1991px;
	top:0px;
	width:410px;
	height:349px;
}


#parkwood-logo-colour-{
	position:absolute;
	left:33px;
	top:-430px;
	width:2401px;
	height:349px;
}

